@{
    ViewBag.Title = "Home Page";
}
<div>
    <div>
        <form name="myForm" id="myForm">
            <div class="row">
                <label for="myInput" class="col-sm-3">
                    Введите числа через запятую:
                    <span style="font:bold larger;color:red" id="star">*</span>
                </label>
                <input type="text" class="form-control col-sm-4" name="myInput" id="myInput" pattern="\d+(,\d+)*" required />
            </div>
            <br />
            <div class="row">
                <label for="mySelect" class="col-sm-3">
                    Действие:
                </label>
                <select class="form-control col-sm-4" name="mySelect" id="mySelect" required>
                    <option value="Sum">Сумма</option>
                    <option value="Mul">Произведение</option>
                    <option value="Mean">Среднее значение</option>
                </select>
            </div>
            <br />
            <button id="btnResult" type="button" class="btn btn-success" disabled>Рассчитать</button>
        </form>
    </div>

    <div class="modal fade" id="resultModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-sm-6"><h4 class="modal-title">Результат</h4></div>
                        <div class="col-sm-6"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
                    </div>
                </div>
                <div class="modal-body">
                    <h1><span id="resStr"></span></h1>
                    <h5>Время: <span id="timeStr"></span></h5>
                </div>
            </div>
        </div>
    </div>
</div>

